/*
 * Globals
 */
/* Links */
/* line 13, app/assets/stylesheets/cover.scss */
a {
  color: #fff;
}

/* line 16, app/assets/stylesheets/cover.scss */
a:focus, a:hover {
  color: #fff;
}

/* Custom default button */
/* line 23, app/assets/stylesheets/cover.scss */
.btn-secondary {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* line 31, app/assets/stylesheets/cover.scss */
.btn-secondary:hover, .btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
/* line 45, app/assets/stylesheets/cover.scss */
html {
  height: 100%;
  background-color: #333;
}

/* line 50, app/assets/stylesheets/cover.scss */
body {
  height: 100%;
  background-color: #333;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

/* line 60, app/assets/stylesheets/cover.scss */
.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
/* line 68, app/assets/stylesheets/cover.scss */
.masthead {
  margin-bottom: 2rem;
}

/* line 72, app/assets/stylesheets/cover.scss */
.masthead-brand {
  margin-bottom: 0;
}

/* line 77, app/assets/stylesheets/cover.scss */
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

/* line 84, app/assets/stylesheets/cover.scss */
.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

/* line 88, app/assets/stylesheets/cover.scss */
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

/* line 93, app/assets/stylesheets/cover.scss */
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  /* line 100, app/assets/stylesheets/cover.scss */
  .masthead-brand {
    float: left;
  }
  /* line 104, app/assets/stylesheets/cover.scss */
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
/* line 113, app/assets/stylesheets/cover.scss */
.cover {
  padding: 0 1.5rem;
}

/* line 116, app/assets/stylesheets/cover.scss */
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
/* line 126, app/assets/stylesheets/cover.scss */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}
