<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<h1>Page with slick</h1>

<div class="scroller">
  <div class="fixed-height">
    <img class="img-scroller" style="text-align: center;" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
  </div>
  <div class="fixed-height">
    <img class="img-scroller" src="https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg">
    
  </div>
  <div>
    <img class="img-scroller" src="https://lh3.googleusercontent.com/proxy/OqoMtTz9zL2YsaLlbXahG4Pjxk-RRD3HmX_DRjJyUSlmTHSlAh1rOs86IvM7uWQPuApWahIDg3cLDCe49sWmtrIvmsmqC0P6h1g1JKpzhlw_9AgCPev5RNajv8Oeb-_rhMAF91plmwO6jEMABo_LjCY4rg">

  </div>
  <div>
    <img class="img-scroller" src="https://previews.123rf.com/images/andreiuc88/andreiuc881204/andreiuc88120400070/13403316-photo-verticale-d-un-vieil-arbre-dans-une-for%C3%AAt-verte.jpg">
  </div>

  <div>
    <img class="img-scroller" src="https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg?h=1000&w=1500&fit=crop&mark=https%3A%2F%2Fassets.imgix.net%2F~text%3Ftxtclr%3Dfff%26txt%3DFree+Stock+Photos%26txtsize%3D120%26txtpad%3D20%26bg%3D80000000%26txtfont%3DAvenir-Heavy%26txtalign%3Dcenter%26w%3D1300&markalign=center%2Cmiddle&txt=pexels.com&txtalign=center&txtsize=60&txtclr=eeffffff&txtfont=Avenir-Heavy&txtshad=10">
  </div>
</div>